
*{
	font-family: arial, sans-serif;
	-

}
a {

	font-family: arial, sans-serif;
	text-decoration: none;
	color: 000;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #609;
}

.main-btns {
	padding-top:20px;
}

#search-bar{
	font-size: 15px;
	height:34px;
	margin-top: 30px;
	width: 403px; 	
}

#search-input{
	text-align: center;
}

.sbar_btns {
	text-align: center;
}
.navbar-top {
	line-height: 24px;
    outline: none;  
    text-align: right;
}

.content{
	height: 233px;
	margin-top: 89px;
	display: block;
	padding-top: 109px;
	text-align: center;

}

.img {
	width: "272";

}

.footer{
	bottom:0;
	background:#f2f2f2;
	background-color:#f2f2f2;
	font-size: small;
	display: block;
	line-height: 40px;
	width: 100%;
	position: absolute;

}

#footer a {
	color: #666;
	display: inline-block
	padding: 0 8;
}

#btm-nav-right {
	float: right;
	background:#f2f2f2;
	padding:0 10;
}

